.JkReactMarkdown__panel{
  background: #333;
  display: flex;
  justify-content: space-between;
}

.JkReactMarkdown__panel-left{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.JkReactMarkdown__panel-right{
  display: flex;
  justify-content: flex-end;
}

.JkReactMarkdown__panel-btn{
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #eee;
  border: none;
  border-left: 1px solid #666;
  background: transparent;
  font-size: 13px;
  min-width: 50px;
  text-align: center;
  outline: none;
  cursor: pointer;
}
.JkReactMarkdown__panel-btn:first-child{
  border-left: none;
}
.JkReactMarkdown__panel-btn:last-child{
  border-right: 1px solid #666;
}

.JkReactMarkdown__panel-btn-result:first-child{
  border-right: none;
  border-left: 1px solid #666;
}

.JkReactMarkdown__panel-btn:hover{
  color: #eee;
  background: rgba(0,0,0,0.3);
}

.JkReactMarkdown__panel-btn:focus{
  color: #eee;
  background: transparent;
}

.JkReactMarkdown__panel-btn--active{
  color: #eee;
  background: rgba(0,0,0,0.3);
}
.JkReactMarkdown__panel-btn--active:focus{
  color: #eee;
  background: rgba(0,0,0,0.3);
}

.JkReactMarkdown__panel-btn--disabled{
  color: #666;
  background: transparent;
}
.JkReactMarkdown__panel-btn--disabled:hover{
  color: #666;
  background: transparent;
}
.JkReactMarkdown__panel-btn--disabled:focus{
  color: #666;
  background: transparent;
}
