.JkReactMarkdown__panel{
  background: #333;
}

.JkReactMarkdown__panel-inner{
  display: table;
  border-collapse: collapse;
}

.JkReactMarkdown__panel-btn{
  display: table-cell;
  padding: 5px;
  text-decoration: none;
  color: #eee;
  border-right: 1px solid #666;
  font-size: 14px;
  width: 50px;
  text-align: center;
  outline: none;
}

.JkReactMarkdown__panel-btn:hover{
  color: #eee;
  background: #444;
}

.JkReactMarkdown__panel-btn:focus{
  color: #eee;
  background: #444;
}

.JkReactMarkdown__panel-btn--disabled{
  color: #666;
}
.JkReactMarkdown__panel-btn--disabled:hover{
  color: #666;
}
.JkReactMarkdown__panel-btn--disabled:focus{
  color: #666;
}
