@font-face {
  font-family: 'fontello-jk';
  src: url('../font/fontello-jk.eot?96603993');
  src: url('../font/fontello-jk.eot?96603993#iefix') format('embedded-opentype'),
       url('../font/fontello-jk.woff2?96603993') format('woff2'),
       url('../font/fontello-jk.woff?96603993') format('woff'),
       url('../font/fontello-jk.ttf?96603993') format('truetype'),
       url('../font/fontello-jk.svg?96603993#fontello-jk') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello-jk';
    src: url('../font/fontello-jk.svg?96603993#fontello-jk') format('svg');
  }
}
*/

 [class^="icon-jk-"]:before, [class*=" icon-jk-"]:before {
  font-family: "fontello-jk";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-jk-bold:before { content: '\e800'; } /* '' */
.icon-jk-italic:before { content: '\e801'; } /* '' */
.icon-jk-link:before { content: '\e802'; } /* '' */
.icon-jk-eye:before { content: '\e803'; } /* '' */
.icon-jk-picture:before { content: '\e804'; } /* '' */
.icon-jk-eye-off:before { content: '\e805'; } /* '' */
.icon-jk-th-large:before { content: '\e806'; } /* '' */
.icon-jk-align-left:before { content: '\e807'; } /* '' */
.icon-jk-align-center:before { content: '\e808'; } /* '' */
.icon-jk-align-right:before { content: '\e809'; } /* '' */
.icon-jk-indent-right:before { content: '\e80a'; } /* '' */
.icon-jk-indent-left:before { content: '\e80b'; } /* '' */
.icon-jk-align-justify:before { content: '\e80c'; } /* '' */
.icon-jk-plus:before { content: '\e80d'; } /* '' */
.icon-jk-minus:before { content: '\e80e'; } /* '' */
.icon-jk-resize-small:before { content: '\e80f'; } /* '' */
.icon-jk-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-jk-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-jk-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-jk-strike:before { content: '\f0cc'; } /* '' */
.icon-jk-underline:before { content: '\f0cd'; } /* '' */
.icon-jk-table:before { content: '\f0ce'; } /* '' */
.icon-jk-superscript:before { content: '\f12b'; } /* '' */
.icon-jk-subscript:before { content: '\f12c'; } /* '' */
.icon-jk-header:before { content: '\f1dc'; } /* '' */
