.JkReactMarkdown__result{
  border: 2px solid #333;
  padding: 5px 15px;
  background: #fff;
  min-height: 50px;
}

.JkReactMarkdown__result img{
  max-width: 100%;
}

.JkReactMarkdown__textarea{
  border: 2px solid #333;
  padding: 5px 15px;
  width: 100%;
  background: #fff;
}

.JkReactMarkdown__textarea:focus{
  outline: none;
}

.JkReactMarkdown__row{
  display: flex;
}

.JkReactMarkdown__col{

}

.JkReactMarkdown__col-editor{
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
}

.JkReactMarkdown__col-result{
  flex: 1 1 50%;
  display: flex;
  overflow: auto;
}

.JkReactMarkdown__col-result .JkReactMarkdown__result{
  flex: 1;
  border-left: none;
}
